.btn {
    padding: 10px 20px;
}
label, .control-label {
    font-size: 15px;
}
#gameNumbers {
    height: 40;
    text-align: center;
}
#scores.col-sm-offset-2, 
#message.col-sm-offset-2  {
    margin-left: 15.666667%;
}